<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <add key="owner" value="Наташа" />
    <add key="phrasesConfig" value="..\..\phrases.xml"/>
  </appSettings>

</configuration>