<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <add key="owner" value="Алексей" />
    <add key="ownerId" value="alex" />
    <add key="phrasesConfig" value="..\..\phrases.xml"/>
    <add key="videoHeadNotFound" value="Resources\eyeSauron.mp4" />
    <add key="videoEyesNotFound" value="Resources\Monster.mp4" />
    <add key="videoSmiling" value="Resources\siren.mp4" />
    <add key="videoPhoto" value="Resources\eyeSauron.mp4" />
  </appSettings>

</configuration>